.page {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.block {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.title {
	display: flex;
	gap: 8px;
	align-items: center;
}

.invest {
	display: flex;
	flex-direction: column;
	margin-top: 12px;
	gap: 16px;
}

.success {
	color: green;
}

.line {
	border-top: 1px solid #ccc;
	color: rgba(0, 0, 0, 0);
}
