.page {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.block {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 600px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.buttonResult {
	display: flex;
	flex-direction: column;
	margin-top: 12px;
	gap: 16px;
}

.success {
	color: green;
}
